.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
}

.innerContainer {
    z-index: 11000;
    padding: 50px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    z-index: 10000;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.innerContainer h3 {
    width: 600px;
    text-align: center;
    margin-top: 20px;
}

.innerContainer h5 {
    margin-top: 50px;
}

.innerContainer a {
    color: var(--cyan-process);
}