.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    /* background-color: blue; */
    color: var(--cyan-process);
}

.closed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    border: 1px solid var(--cyan-process);
}

.completed {
    background-color: var(--cyan-process);
    color: white;
}

.closed h1 {
    margin: 0px;
    padding: 0px;
}

.open {
    display: none;
    flex-flow: wrap;
    gap: 10px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 10px;
}

.open span {
    display: block;
    padding: 10px 20px;
    background-color: var(--cyan-process);
    color: white;
    border-radius: 100px;
}