@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --charleston-green: #262928ff;
    --dark-slate-gray: #404e4dff;
    --android-green: #9bc53dff;
    --cyan-process: #5bc0ebff;
    --minion-yellow: #fde74cff;
    --sizzling-red: #eb5160ff;
}